.title-wrapper h1 {
    font-size: 24px; 
    color: black; 
    font-family: Poppins;
    font-weight: 450;
    margin: 0;
}
  
.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .vertical-bar {
    font-size: 30px; 
    color: var(--verde-claro);
    margin-right: 10px; 
  }


.categorias-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .categorias-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
  }
  
  .categoria-item {
    flex: 1 1 100px;
    margin: 10px;
    text-align: center;
  }
  
  .categoria-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .categoria-item img:hover {
    transform: scale(1.1);
  }
  

.categoria-item span {
    font-size: 16px;
    color: black;
    display: block; 
    margin-top: 10px; 
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
  }

  .categoria-item a {
    text-decoration: none;
    color: inherit;
  }
  
  /* efeito ao passar o mouse em cima */
  .categoria-item:hover span {
    color: var(--verde-claro);
  }
  